<?xml version="1.0" encoding="UTF-8"?>

<!-- For visualising your robots map bulding in RVIZ -->
<!-- Set launch delay following https://answers.ros.org/question/233353/set-delay-between-starting-nodes-within-launch-file/?answer=316355#post-id-316355 -->
<launch>
  <arg name="node_start_delay" default="15.0" />

  <node name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find slam_rover)/config/robot_slam.rviz"
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' xterm -e" />
</launch>
